@page
@model PrivacyModel
@{
    ViewData["Title"] = "HI";
}
<h1>@ViewData["Title"]</h1>

<p>If you're reading this you're a twat.  cgsgihsac if vthcbirnechirenrsecifhcnihfiu $eiry55~zxcQWQ11!@£$@ </p>
